@font-face {
    font-family: "Alfa";
    src: url("fonts/AlfaSlabOne-Regular.ttf");
    format:("truetype");
    font-weight: 400px;
    
}
@font-face {
    font-family: "Lobster";
    src: url(/Lobster/Lobster-Regular.ttf);
    format:("truetype");
    font-weight:400px;
}