p   {
    color:blueviolet;
    font-size: 30px;
    font-family: "Lobster", cursive;
    font-weight: bolder;
    text-align: center;
    text-decoration: overline;
    line-height: 2;
    text-transform: capitalize;
    
}
a {
    text-decoration: none;
    font-size: 40px;
    text-transform: none;
}
ul {
    color:chartreuse;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}
h1 {
    color:beige;
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 10px; 
    font-family: "Alfa", "Lobster", sans-serif;
}
span {
    color:seagreen;
    font-size: 30px;
    font-family: "Lobster", cursive;
    font-weight: bolder; 
    
}
head {
    color:chocolate;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: underline;
}