body {
    background-color: #92c;
}
.formulario {
    background-color: brown;
    padding: 30px;
}
.formulario_input {
    padding: 10px 5px;
    width: 100%;
    background-color: yellow;
    color: red;
}
.formulario_submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: yellowgreen;
}
.box {
    background-color: lightblue;
    height: 200px;
    width: 75%;   
    margin: 50px 75px;
}
.enlaces {
    background-color: lightcyan;
    border: 2px solid #000;
    margin:auto;
    width: 50%;
    text-align: center;
}